@model IEnumerable<Product>
@{
	Layout = "_DashboardLayout";
}
<div class="overview">
    <div class="title">
        <i class="uil uil-tachometer-fast-alt"></i>
        <span class="text">All Product</span>
    </div>
</div>
<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <td class="table-light">id</td>
                <td class="table-light">Name</td>
                <td class="table-light">Description</td>
                <td class="table-light">price</td>
                <td class="table-light">Quantity</td>
                <td class="table-light">Size</td>
                <td class="table-light">operation</td>

            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model) {
                
            <tr>
                <td>@item.ID</td>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>@item.Price</td>
                <td>@item.Quantity</td>
                <td>@item.enableSize</td>
                <td>


                    <a class="btn btn-success" role="button"asp-action="edit" asp-route-id=@item.ID >
                        <span class="material-symbols-outlined">
                            edit
                        </span>
                    </a>
                    <a class="btn btn-danger " role="button" asp-action="remove" asp-route-id=@item.ID>
                        <span class="material-symbols-outlined">
                            delete
                        </span>
                    </a>
                </td>

            </tr>
            }
        </tbody>
    </table>

</div>